@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap");

.container-one {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 220;
  height: 326px;
  margin: 25px;
}

.detail {
  box-sizing: border-box;
  margin: 25px;
  font-family: "Work Sans", sans-serif;
}

.detail h3 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
